.container
  .post-column
    .post{style: "background-image: url(#{image_path "1.jpg"})", onclick: 'window.open("https://google.com")'}
      .post-top
      .post-bottom
        bottombottombottom
    .post
      .post-top
      .post-bottom
        bottombottombottombottombottombottombottombottombottom
  .post-column
    .post
      .post-top
      .post-bottom
        bottombottombottombottombottombottombottombottombottom
  .post-column
    .post
      .post-top
      .post-bottom
        bottombottombottombottombottombottombottombottombottom
    .post
      .post-top
      .post-bottom
        bottombottombottombottombottombottombottombottombottom
